.form {
  position: relative;
  margin: auto;
  width: 430px;
  height: 330px;
  background-color: #FFF;
  border-radius: 10px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .form {
    width: 282px;
    height: 322px;
  }
}
