.profile__main {
  max-width: 336px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .profile__main {
    margin: 28px 0 34px;
    max-width: 282px;
    align-items: center;
  }
}
