.edit-form {
  width: 430px;
  height: 330px;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .edit-form {
    width: 282px;
    height: 322px;
  }
}
