.profile__description {
  margin: 0;
  padding-top: 16px;
  max-width: 396px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
  font-size: 18px;
  line-height: 21.8px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .profile__description {
    max-width: 100%;
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
