.profile__main-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile__main-title {
    align-self: center;
    max-width: 189px;
  }
}
