.footer {
  max-width: calc(100% - 400px);
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 38px);
    padding-bottom: 36px;
  }
}
